
*{ margin: 0;
padding: 0;
    
    
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* ছবি গোল করার জন্য */
    object-fit: cover;
    margin-bottom: 10px;
    text-align: center ;
}
 .a1 {
    background-color: rgba(2, 0, 0, 1); /* শুধু একটি রঙ ব্যবহার করো */
    min-height: 100vh; /* স্ক্রিনের উচ্চতা অনুযায়ী নিজে থেকেই সেট হবে */
    width: 100%;      /* স্ক্রিনের চওড়া অনুযায়ী সেট হবে */
    padding: 20px;
    box-sizing: border-box; /* এতে প্যাডিং দিলেও বক্স স্ক্রিনের বাইরে যাবে না */
}

    
    



.card{color: rgba(142, 255, 5, 1);
    background-color: rgba(15, 3, 26, 1);
    text-align: center;
    padding-top: 20px;
    border: 5px solid rgba(122, 238, 8, 1);
    transition: 0.5s;
    
  
  
}


.card:hover{color: rgba(73, 255, 0, 1);
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    padding-top: 20px;
    border: 5px solid rgba(40, 79, 2, 1);
    

    
    
}
.btn {
    background-color: rgba(166, 0, 137, 1);
    /* তোমার প্রিয় নিওন গ্রিন */
    color: black;
    border:2px solid #04011F;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
     

            
